@font-face {
    font-family: "consola";
    src: url("/docs/typeface/CONSOLA.TTF"),
}

/* @font-face {
    font-family:"consolab";
    src: url("/docs/typeface/SIMYOU.TTF");
} */
body {
    background-image: url("../images/background.png");
    padding: 16px 0 0 0;
    margin-bottom: 70px;
    font-family: consola;
    shape-margin: 0%;
    /* font-family: consolab; */
    font-size: 12px;
    -webkit-text-size-adjust: none;
}

.am-wingblank, .am-wingblank-lg > div {
}

::-webkit-scrollbar {
    display: none
}

/*去掉滚动条*/
.showtais {
    background-color: #f4fcfc;
    padding: 0 10px;
}

.padding {padding: 0 10px;}

.fishing {
    /* margin: 0 10px; */
    display: flex;
    border: 1px solid #355287;
    border-radius: 30px;
    /* height: 30px; */
    align-items: center;
    color: #2b5c79;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 10px;
}
.am-navbar .am-navbar-light {
    width: 10px;
}

.am-flexbox-item {
    white-space: nowrap;
}

.am-flexbox {
    overflow: unset;
}

.init {
    border: 1px solid #355287;
    padding: 5px;
}

.Flex > .flexItems {
    /* width: 40%; */
    overflow: hidden;
}
/*  */
.fff {
    color: #fff;
}

.bg-fff {
    background-color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.space-around {
    display: flex;
    justify-content: space-around;

}

.align-item {
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}
.pledge{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.flex-direction {
    display: flex;
    flex-direction:row;
    align-items: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.end {
    display: flex;
    flex-direction: row-reverse;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.am-modal-button-group-v,.am-modal-button-group-operation{
    max-height: 50vh;
    overflow: scroll;
}
.text-center { text-align: center;}
.text-left {text-align: left;}
.text-right { text-align: right;}
.font-weight { font-weight: 700;}

.am-tag-text {
    border: none !important;
    line-height: 12px;
}

.input {
    outline: none;
    border: none;
    width: 100%;
    height: 30px;
    background-color: #f5f9fc;
}

.am-wingblank.am-wingblank-lg{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.am-modal-transparent{
    /* height: 80% !important; */
    width:94% !important;
}
/* .am-checkbox-inner{
    width: 16px;
    height: 16px;
}
.am-checkbox-wrapper{
    height: 16px;
} */
.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}

.tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;

}

.am-tabs-tab-bar-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.color {color: #00456e;}
.color2 {color: #f75552;}
/*  */
/* home.js */
.scale > div:nth-child(2n-1) {
    text-align: left;
}

.cash {
    border-bottom: 1px solid #00456e;
    padding-bottom: 5px;
}

.end {
    box-shadow: #00456e 0px 1px 3px;
    border-radius: 10px;
    overflow: hidden;
    /* width: 100%; */
}

.max_sero {
    /* width: 100%; */
    /* box-shadow: #00456e 0 1px 3px; */
    border: 1px solid #00456e;
    margin-top: 5px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}

.paddingleft {
    padding-left: 10px;
}

.paddingright {
    padding-right: 10px;
}

.margin {
    margin: 10px 0;
}

/* home.js */

/* exchange.js */
.select {
    border: none;
    background-color: #eaf1f4;
    appearance: none;
    background: url("/docs/images/top.png");
    background-position: center center;
    text-align: center;
}

.options {
    border: none !important;
    outline: none;
    background-color: #eaf1f4;
}

.absolute {
    position: absolute;
    right: 12px;
    top: 10px;
    /* z-index: 1000; */
}
.from {
    border-radius: 10px;
    /* padding: 10px; */
    background-color: #fff;
}

.am-list-item {
    padding-left: 0 !important;
}

.am-list-body {
    background-color: #bedde6;
}

.disable {
    color: #00456e !important;
    background-color: #f5f5f5;
}
.inputItem {
    height: 100%;
    display: flex;
    margin-left: 0;
    width: 100%;
    color: #00456e;
    border: none !important;
    outline: none;
    box-sizing: border-box;
}

.am-list-body, .am-list {
    height: 100%;
    overflow: hidden; 
    width: 100%;
    background: none !important;
}
.am-list{
    border-top: none !important;
    border-bottom: none !important;
}

.am-input-item .am-list-item-middle.am-input-focus .am-input-android {
    height: 30px;
    border: none !important;
}
.am-modal-body {
    padding: 10px
}
.modals { height: 300px;}

.am-wingblank .am-wingblank-lg {
    padding: 0 !important;
}

.am-tabs-default-bar-underline {
    border: none;
    border: 1px solid #f75552;
}

.header {
    width: 100%;
    background-color: #fff;
    padding: 12px 12px 30px;
    /*box-shadow: #00456e 0px 0px 5px;*/
    border-radius: 10px;
}

.modal {
    width: 26%;
    background-color: #eaf1f4;
    position: relative;
    padding: 0 6px 0 16px;
}

.place {
    height: 100%;
    margin-right: 10px;
    background-color: #eaf1f4;
    position: absolute;
    top: 0;
    left: 0;
}

.modal2 {
    background-color: #00456b !important;
    color: #fff;
}
.fontSize {
    font-size: 12px;
}
.inputItem {
    height: 30px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    background-color: "#b1b1b1";
    width: 90%;
    color: #00456e;
    border: none;
    outline: none;
}

.none {
    display: none;
}

.am-list-body, .am-list {
    height: 100%;
    overflow: hidden;
    /* width: 100px; */
    background: none !important;
}
.am-list-item .am-input-item .am-list-item-middle .inputItem .am-input-focus .am-input-android {
    height: 30px;
    border: none !important;
}

.icon {
    position: absolute;
    right: 0px;
    top: 0px;
}
.am-modal .am-modal-popup .am-modal-popup-slide-up {
    height: 100%;
}

.modals {
    height: 300px;
}

.am-wingblank .am-wingblank-lg {
    padding: 0 !important;
}

.am-tabs-default-bar-underline {
    border: none;
    border: 1px solid #f75552;
}

/* exchange.js */

/* pairlist.js */
.search {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 10px center;
    border-radius: 30px;
    background-color: #bedde6;
    text-indent: 30px;
    width: 99%;
    height: 28px;
}

.am-card {
    padding: 10px 10px 12px 10px;
    background-color: #fff;
    box-shadow: #00456b 0px 0 8px;
}

.am-tabs-pane-wrap .am-tabs-pane-wrap-active {
    padding: 15px;
}

.pairlist {
    color: #00456b;
    padding: 0 10px;
}

.shares {
    margin: 17px 0;
}

/* .shares > img {
    margin: 0 0 0 10px;
} */
/* .fishing_tag {
    width: 30%;
    display: inline-block;
    height: 30px;
    line-height: 30px;
}*/

.inputs, .nothing {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 10px;
    height: 46px;
    line-height: 46px;
}

.inputs{
    background-color: #00456e;
    color: #fff;
}

.nothing {
    background-color: #ccc;
    color: #362e2b;
} 

.card-border {
    border-radius: 15px;
    background-color: #f2fcfc;
}

.am-button-small {
    padding: 0;
}

/* pairlist.js */

.btn-bg {
    background: rgb(247, 85, 82);
}

.inputshare {
    border-radius: 30px;
    background-color: #bedde6 !important;
    text-indent: 30px;
    height: 28px !important;
    /* padding: 6px 0 0; */
}

.nodata {
    text-align: center;
    padding: 12px;
    color: grey;
}

.totalSupply {
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    color: rgb(247, 85, 82)
}

.am-tab-bar {
    position: fixed !important;
    bottom: 0;
    left: 0;
    overflow: unset !important;
}

.am-flexbox-align-center {padding-right: 0;}
.Flexs {
    display: flex;
    justify-content: space-between;

}

.am-modal-transparent {
    width: 95% !important;
}

.tabbar {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
}
.cst-balance{
    font-family: "Inter var", sans-serif;

    font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
}

.cst-border{
    border: 1px solid rgb(247, 248, 250);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding:10px;
    font-size: 16px;
}
.am-flexbox .am-flexbox-item{
    min-width: none !important;
}
.am-list-line{
    height: 100%;
    display: flex;
    align-items: center;
    border: none !important;
    background: none !important;
}


.am-button-primary {
    color: #fff;
    background-color: #00456e;
    border: 1PX solid #00456e;
    border-radius: 5px;
}